.navs a{
    color: #535353 !important;
    font-size: 100%;
    margin-left:1vw ;
    margin-bottom: 1vw;
    
}
.navs a:hover{
    text-decoration: underline;
    text-decoration-color: #F48633;
    color: black !important;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
body{
    margin: 0px;
    padding: 0px;
}
.mybtns:focus{
    background-color: #F48633 !important;  
}
.mybtns{
    padding: 7px;
    margin: 1.5vw;
    font-size: 2vw;
}
.mynavbar{
    overflow: hidden !important;
    background-color: white;
}
.spans{
    font-weight: bold;
}
.myimgs{
    width: 10vw;
    height: 15vh;
    transition: width 1s, height 1s;
}
.myimgs:hover{
    width: 15vw;
    height: 20vh;
}
#footer{
    background-color: #F48633;
    padding: 1vw;
    width: 100%;
    height: auto;
    max-height: fit-content;
    margin-top: 10vh;

}
.myicons{
    max-width: 2vw;
    width: 100%;
    height: auto;
    margin: 0.5vw;

}
.footerStuff a{
    font-size: 1.2vw !important;
    color: black !important;
}
.footerStuff a:hover{
    text-decoration: underline !important;
    text-decoration-color: black;
    font-size: 1.2vw !important;
    color: black !important;
}
.inputs{
    margin: 0.5vw;
    padding: 0.5vw;
    width: 100%;
    height: auto;
    border:solid #494A4A;
    border-width: 2px;
}
#card{
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#building{
    opacity: 0.5;
    max-width:100%;
    height: auto;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
}
.contactIcons{
    max-width: 1.2vw;
    width: 100%;
    height: auto;
    margin-right: 1vw;
}
.servicesStuff{
    max-width:100%;
    max-height:100%;
    width: 100%;
    height: auto;
}
.servicesHeader{
    background-color: #F48633;
    padding: 1vw;
    font-size: 2vw;
}
.team{
    margin-top: 2vh;
}
.img-hover-zoom { /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .9s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }



  .SlideIn-appear {
    transform: translateY(30px);
    opacity: 0;
  }
  .SlideIn-appear.SlideIn-appear-active {
    opacity: 1;
    transform: translateY(0);;
    transition: all 0.6s linear;
  }
  .SlideIn-enter {
      opacity: 0;
      transform: translateY(30px);
  }
  .SlideIn-enter.SlideIn-enter-active {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.2s linear 0.4s;
  }
  .SlideIn-leave {
      opacity: 1.0;
      transform: translateY(0);
  }
  .SlideIn-leave.SlideIn-leave-active {
      opacity: 0;
      position: absolute;
      width: 100%;
      transform: translateY(0);
      transition: all 0.2s linear;
  }
  /* Slide Out */
  .SlideOut-appear {
    transform: translateY(-30px);
    opacity: 0;
  }
  .SlideOut-appear.SlideOut-appear-active {
    opacity: 1;
    transform: translateY(0);;
    transition: all 0.6s linear;
  }
  .SlideOut-enter {
      opacity: 0;
      transform: translateY(-30px);
  }
  .SlideOut-enter.SlideOut-enter-active {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.2s linear 0.4s;
  }
  .SlideOut-leave {
      opacity: 1.0;
      transform: translateY(0);
  }
  .SlideOut-leave.SlideOut-leave-active {
      opacity: 0;
      position: absolute;
      width: 100%;
      transform: translateY(-30px);
      transition: all 0.2s linear;
  }